* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--blanco);
}

:root {
    --rosa: #ffb7d5;
    --rosa-fuerte: #ff8db1;
    --crema: #ffe6ef;
    --morado: #c8a2ff;
    --blanco: #ffffff;
    --gris: #666;
}

.barra {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
    background-color: var(--rosa);
}


.Menu-Inicio {
    width: 30px;
    height: 30px;
    position: relative;
    left: 75rem;
    top: -8px;
    background-color: var(--blanco);
    border-radius: 20px;
}

.barra .Menu-Inicio:hover {
    transform: scale(1.6);
    box-shadow: 0 0 10px rgb(95, 91, 91);
}

.icono {
    position: relative;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    align-items: center;
    top: 13px;
    left: 10px;
    box-shadow: 0 0 10px rgb(95, 91, 91);

    
}

/* ==== LOGO ==== */
.logo {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-8px);
    }
}

.logo {
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    left: 585px;
    top: 100px;
    margin: 10px;
    box-shadow: 0 0 15px #f8b4d9;
}

.titulo {
    position: relative;
    font-size: 40px;
    top: 130px;
    color: whitesmoke;
    font-family: sans-serif;
    width: 180px;
    height: 60px;
    text-align: center;
    background-color: var(--rosa-fuerte);
    left: 580px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px #f8b4d9;
}

.galeria {
    position: relative;
    top: 240px;
    margin: 0;
    background-color: var(--crema);
    height: 800px;
    overflow: hidden;
    box-shadow: 0 0 20px var(--crema)
}

.img-1 { 
    position: relative;
    width: 210px;
    height: 280px;
    top: 80px;
    left: 80px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px #f8b4d9;
    transition: 1s ease;
}

.img-1:hover {
    transform: scale(1.2);
}

footer {
    position: relative;
    background-color: var(--rosa-fuerte);
    color: var(--blanco);
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    bottom: -400px;
}